.section {
    background-color: #d6d6d6;
    min-height: 100vh;
    display: block;
    background-color: #000;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 35px;
}
.section-title h2 {
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 0;
    position: relative;
}
.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ec1839;
}
.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
    background-color: #ec1839;
}
.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}
.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}
/** Blog **/
.blog .container {
    padding: 40px;
}
.blog .blog-item {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}
.blog .blog-item-inner {
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #d4d4e3;
}
.blog .blog-item-inner .blog-img {
    position: relative;
    overflow: hidden;
    height: 210px;
}
.blog .blog-item-inner .blog-img img {
    width: 100%;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    
    filter: saturate(55%);
}
.blog .blog-item-inner:hover .blog-img img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  
  filter: saturate(130%);
}
.blog .blog-item-inner .blog-img .blog-date {
    position: absolute;
    padding: 4px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    left: 15px;
    bottom: 15px;
    background-color: #ec1839;
}
.blog .blog-item-inner .blog-info {
    padding: 30px 15px;
    background-color: #fdf9ff;
}
.blog .blog-item-inner .blog-info .blog-title {
    font-size: 18px;
    font-weight: 700;
    color: #302e4d;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.blog .blog-item-inner .blog-info .blog-description {
    font-size: 16px;
    line-height: 25px;
    color: #504e70;
    font-weight: 400;
    margin-bottom: 15px;
}
.blog .blog-item-inner .blog-info .blog-tags {
    font-size: 14px;
    line-height: 25px;
    color: #504e70;
    font-weight: 400;
    text-transform: capitalize;
}
.blog .blog-item-inner .blog-info .blog-tags a {
    text-decoration: none;
    font-weight: 600;
    color: #ec1839;
}

.alig{
  text-align: center;
  color: #fff;
  font-size: 75px;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 40px;
}

/** Responsive **/
@media (max-width: 991px) {
    .blog .blog-item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .blog .blog-item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (max-width: 450px) {
    .alig{
      font-size: 45px;
    }
    .blog .blog-item {
        margin-right: 10px;
        margin-left: 10px;
        -ms-flex: 0 0 90%;
        flex: 0 0 90%;
    }
}
